h1, p, h4, h6{
    text-align:center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #e0ffff;
}

h1, h4, h6{
    font-size:100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-left: 3vw;
    border-right: 3vw;
    border-style: solid;
}

h1 {
    color: #0000FF;
}

h2, h3, h5 {
    font-size:100%;
    font-weight: bold;
    margin-right: 74vw;
}

h2 {
    background-color: #87ceeb;
}

h3 {
    background-color: #FF998B;
}

h4 {
    color: #FF0000;
}

h5 {
    background-color: #FFFFb0;
}

.h6 {
    background-color: #aaaaba;
}

h6 {
    color: #000000;
}

p {
    background-color:#A7E6FF;
    color: #000000;
    font-size: 80%;
    border-style:dashed;
}

.p1 {
    background-color:#FFBFBF;
}

.p2 {
    background-color: #FFFF00;
}

.p3 {
    background-color: #bbbbcb;
}

img {
    border-color:#C4DFF8;
    image-rendering: pixelated;
    margin-left:35%;
    border-width: 1.5vw;
    border-style: ridge;
}

.img1 {
    border-color:#D86E7F;
}

.img2 {
    border-color: #FFFF89;
}

.img3 {
    border-color: #777777;
}

div {
    border: 2vw solid #20B2AA;
    width: 93%;
    height: 100%;
    padding: .5vw;
    margin: .5vw;
}

.div1 {
    border-color:#D8596E;
}

.div2 {
    border-color:#FFdF2D;
}

.div3 {
    border-color: #777787;
}

a:hover {
    font-size: larger;
    text-decoration: underline;
    text-decoration-color: #0000FF;
}

p[id=bottom] {
    color: #FFFFFF;
    background-color: #000000;
    border-color: #FFFFFF;
}

#bottom {
    color: #FFFFFF;
    background-color: #000000;
    border-color: #FFFFFF;
}